<template>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>User login form</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field prepend-icon="person" label="Login" id="email" type="text" v-model="email"></v-text-field>
            <v-text-field prepend-icon="lock" label="Password" id="password" type="password" v-model="password"></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="submit">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
</template>

<script>
  export default {
    data: () => ({
      email: null,
      password: null,
    }),
    props: {
      action: String,
      passwordUrl: String
    },
    methods: {
      submit: function() {
        axios.post(this.action, {
          email: this.email,
          password: this.password
        })
        .then(response => {
          console.log(response);
          let data = response.data;
          this.$cookie.set("token", data.access_token, { expires: data.expires_in+'m' });
          document.location = '/user';
        })
        .catch(error => {
          console.log(error);
        });
        console.log("hello me", this.email, this.password);
      }
    }
  }
</script>
