<template>
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Z</b>idget</a>
        </div>
        <div class="card">
            <div class="body">
              <div class="msg">Sign in to start your session</div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">person</i>
                  </span>
                  <div class="form-line">
                      <input type="text" class="form-control" v-model="email" name="email" placeholder="Email" required autofocus>
                  </div>
              </div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">lock</i>
                  </span>
                  <div class="form-line">
                      <input type="password" class="form-control" v-model="password" name="password" placeholder="Password" required>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-8 p-t-5">
                      <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                      <label for="rememberme">Remember Me</label>
                  </div>
                  <div class="col-xs-4">
                      <button class="btn btn-block bg-pink waves-effect" @click="submit">SIGN IN</button>
                  </div>
              </div>
              <div class="row m-t-15 m-b--20">
                  <div class="col-xs-6">
                      <a :href="registerUrl">Register Now!</a>
                  </div>
                  <div class="col-xs-6 align-right">
                      <a href="#">Forgot Password?</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
<!-- /.login-box -->
</template>

<script>
  export default {
    data: () => ({
      email: null,
      password: null,
    }),
    props: {
      action: String,
      passwordUrl: String,
      registerUrl: String
    },
    methods: {
      submit: function() {
        axios.post(this.action, {
          email: this.email,
          password: this.password
        })
        .then(response => {
          let data = response.data;
          this.$cookie.set("token", data.access_token, { expires: data.expires_in+'m' });
          document.location = '/console';
        })
        .catch(error => {
          console.log(error);
        });
      }
    }
  }
</script>
