<template>
  <div class="login-box">
      <div class="logo">
          <a href="javascript:void(0);"><b>Z</b>idget</a>
      </div>
      <div class="card">
          <div class="body">
              <div class="msg">Register a new membership</div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">person</i>
                  </span>
                  <div class="form-line">
                      <input type="text" class="form-control" v-model="name" name="name" placeholder="Full name" required autofocus>
                  </div>
              </div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">email</i>
                  </span>
                  <div class="form-line">
                      <input type="email" class="form-control" v-model="email" name="email" placeholder="Email Address" required>
                  </div>
              </div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">lock</i>
                  </span>
                  <div class="form-line">
                      <input type="password" class="form-control" v-model="password" name="password" minlength="6" placeholder="Password" required>
                  </div>
              </div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">lock</i>
                  </span>
                  <div class="form-line">
                      <input type="password" class="form-control" v-model="password_confirmation" name="confirm" minlength="6" placeholder="Confirm Password" required>
                  </div>
              </div>

              <button class="btn btn-block btn-lg bg-pink waves-effect" @click="submit">SIGN UP</button>

              <div class="m-t-25 m-b--5 align-center">
                  <a :href="loginUrl">You already have a membership?</a>
              </div>
          </div>
      </div>
  </div>

<!-- /.login-box -->
</template>

<script>
  export default {
    data: () => ({
      name: null,
      email: null,
      password: null,
      password_confirmation: null,
    }),
    props: {
      action: String,
      loginUrl: String
    },
    methods: {
      submit: function() {
        axios.post(this.action, {
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
        })
        .then(response => {
          let data = response.data;
          this.$cookie.set("token", data.access_token, { expires: data.expires_in+'m' });
          document.location = '/console';
        })
        .catch(error => {
          console.log(error);
        });
      }
    }
  }
</script>
