<template>
  <ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/console/menu" title="Menus" alt="Menus">
            <i class="material-icons">apps</i>
        </a>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">notifications</i>
            <span class="label-count bg-red">7</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">NOTIFICATIONS</li>
            <li class="body">
                <ul class="menu">
                    <li>
                        <a href="javascript:void(0);">
                            <div class="icon-circle bg-light-green">
                                <i class="material-icons">person_add</i>
                            </div>
                            <div class="menu-info">
                                <h4>12 new members joined</h4>
                                <p>
                                    <i class="material-icons">access_time</i> 14 mins ago
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer">
                <a href="javascript:void(0);">View All Notifications</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">account_circle</i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" @click="logout"><i class="material-icons">input</i>Sign Out</a></li>
        </ul>
    </li>
    <!-- #END# Notifications -->
</ul>
</template>

<script>
  export default {
    data: () => ({

    }),
    props: {
      logoutUrl: {
        type: String
      }
    },
    methods: {
      logout: function() {
        axios.post(this.logoutUrl)
        .then(response => {
          this.$cookie.delete("token");
          document.location = '/console';
        })
        .catch(error => {
          console.log(error);
        });
      }
    }
  }
</script>
