<template>
    <div class="menu">
        <ul class="list">
          <li class="header">MAIN NAVIGATION</li>
          <li v-for="menu in menus">
              <a :href="getLink(menu)" :class="menu.children.length ? 'menu-toggle' : ''">
                  <i class="material-icons" v-if="menu.icon">{{ menu.icon }}</i>
                  <span>{{ menu.name }}</span>
              </a>
              <backend-navsubmenu v-if="menu.children.length" :menus="menu.children"></backend-navsubmenu>
          </li>
        </ul>
    </div>
</template>

<script>
  export default {
    data: () => ({
      menus: [],
    }),
    mounted: function() {
      this.all();
    },
    methods: {
      all: function() {
        axios.get('/api/console/menu')
        .then(response => {
          this.menus = response.data;
        });
      },
      getLink: function(menu) {
        if (menu.children.length) {
          return 'javascript:void(0);';
        }

        if (menu.type == "route") {
          return menu.route;
        }

        return menu.link;
      }
    }
  }
</script>
