<template>
  <ul class="ml-menu">
    <li v-for="menu in menus">
        <a :href="getLink(menu)" :class="menu.children.length ? 'menu-toggle' : ''">
          <i class="material-icons" v-if="menu.icon">{{ menu.icon }}</i>
          <span>{{ menu.name }}</span>
        </a>
        <backend-navsubmenu v-if="menu.children.length" :menus="menu.children"></backend-navsubmenu>
    </li>
  </ul>
</template>

<script>
  export default {
    props: {
      menus: {
        type: Array,
      }
    },
    methods: {
      getLink: function(menu) {
        if (menu.children.length) {
          return 'javascript:void(0);';
        }

        if (menu.type == "route") {
          return menu.route;
        }

        return menu.link;
      }
    }
  }
</script>
