<template>
  <div class="modal fade" :id="modal_id" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Modifier</h4>
              </div>
              <div class="modal-body">
                  <div class="form-group form-float">
                      <div class="form-line">
                          <input type="text" id="name" v-model="menu.name" class="form-control">
                          <label class="form-label">Nom</label>
                      </div>
                  </div>

                  <div class="form-group form-float">
                      <div class="form-line">
                          <input type="text" id="icon" v-model="menu.icon" class="form-control">
                          <label class="form-label">Icone</label>
                      </div>
                  </div>

                  <select class="form-control show-tick" v-if="menu.type == 'route'" v-model="menu.link" data-live-search="true">
                    <option>Veuillez choisir une route</option>
                    <option v-for="route in routes" :value="route">{{route}}</option>
                  </select>

                  <div class="form-group form-float" v-else>
                      <div class="form-line">
                          <input type="text" id="link" v-model="menu.link" class="form-control">
                          <label class="form-label">Lien</label>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-link waves-effect" @click="update">SAVE CHANGES</button>
                  <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" @click="$emit('close')">CLOSE</button>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      menu: {},
      routes: [],
    }),
    props: {
      data: {
        type: Object,
        required: true
      },
    },
    mounted: function() {
      this.menu = this.data;
      axios.get('/api/console/route')
        .then(response => {
          this.routes = response.data;
        });
    },
    computed: {
      modal_id() {
        return "menu_modal_"+this.menu.id;
      }
    },
    methods: {
      update() {
        axios.put('/api/console/menu/' + this.menu.id, this.menu)
        .then(response => {
          location.reload();
        });
      }
    }
  }
</script>
