<template>
  <div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-12">
            <backend-menu-link></backend-menu-link>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12">
            <backend-menu-route></backend-menu-route>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <backend-menu-list></backend-menu-list>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      menus: [],
    }),
    mounted() {
      this.$bus.$on('backend-menu.add', this.added);
      this.all();
    },
    methods: {
      sync: function() {
        this.$bus.$emit('backend-menu.sync', this.menus);
      },
      all: function() {
        axios.get('/api/console/menu')
        .then(response => {
          this.menus = response.data;
          this.sync();
        });
      },
      added: function(menu) {
        axios.post('/api/console/menu', menu)
        .then(response => {
          location.reload();
        });
      }
    }
  }
</script>
