<template>
  <div class="card">
    <div class="header">
      <h2>Ajouter un lien</h2>
    </div>
    <div class="body">
      <div class="form-group form-float">
          <div class="form-line">
              <input type="text" id="name" v-model="menu.name" class="form-control">
              <label class="form-label">Nom</label>
          </div>
      </div>

      <div class="form-group form-float">
          <div class="form-line">
              <input type="text" id="icon" v-model="menu.icon" class="form-control">
              <label class="form-label">Icone</label>
          </div>
      </div>

      <div class="form-group form-float">
          <div class="form-line">
              <input type="text" id="link" v-model="menu.link" class="form-control">
              <label class="form-label">Lien</label>
          </div>
      </div>
      <button type="button" class="btn btn-primary m-t-15 waves-effect pull-right" @click="add"><i class="material-icons">add</i> <span>Ajouter au menu</span></button>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      menu: {
        type: "link",
        name: null,
        group: "admin",
        link: null,
        icon: null,
      },
    }),
    methods: {
      add() {
        this.$bus.$emit('backend-menu.add', this.menu)
      }
    }
  }
</script>
