<template>
  <div class="card">
    <div class="header">
      <h2>Liste des menus</h2>
    </div>
    <div class="body">
      <div class="dd nestable-with-handle" id="nestableList" data-url="/api/console/menu">
        <backend-menu-nested></backend-menu-nested>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({

    })
  }
</script>
