<template>
    <ol class="dd-list">
      <li class="dd-item dd3-item" v-for="menu in list" :data-id="menu.id">
          <div class="dd-handle dd3-handle"></div>
          <div class="dd3-content">
            {{ menu.name }}
            <span class="pull-right">
              <i class="material-icons">{{ menu.type == 'route' ? 'map' : 'link' }}</i>
              <span class="icon-name">
                <button type="button" class="btn btn-primary btn-xs waves-effect" @click="menu._edit = true" data-toggle="modal" :data-target="'#menu_modal_' + menu.id ">Modifier</button>
                <backend-menu-edit :data="menu"></backend-menu-edit>
                <button class="btn btn-danger btn-xs waves-effect" data-type="confirm" @click="destroy(menu)">Supprimer</button>
              </span>
            </span>
          </div>
          <backend-menu-nested :menus="menu.children"></backend-menu-nested>
      </li>
    </ol>
</template>

<script>
  export default {
    data: () => ({
      list: [],
    }),
    props: {
      menus: {
        type: Array,
      }
    },
    mounted: function() {
      this.list = this.menus ? this.menus : this.list;
      this.$bus.$on('backend-menu.sync', this.sync);
    },
    methods: {
      sync: function(menus) {
        this.list = menus;
      },
      destroy: function(menu) {
        this.$swal({
          title: "Confirmation !",
          text: "Êtes-vous sûr de vouloir supprimer ce menu?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete('/api/console/menu/' + menu.id)
            .then(response => {
              this.$swal("Le menu "+menu.name+" a été effacé avec succès.", {
                icon: "success",
              }).then(() => {
                location.reload();
              });
            });
          }
        });
      }
    }
  }
</script>
