<template>
  <div class="card">
    <div class="header">
      <h2>Ajouter une route</h2>
    </div>
    <div class="body">
      <div class="form-group form-float">
          <div class="form-line">
              <input type="text" id="name" v-model="menu.name" class="form-control">
              <label class="form-label">Nom</label>
          </div>
      </div>

      <div class="form-group form-float">
          <div class="form-line">
              <input type="text" id="icon" v-model="menu.icon" class="form-control">
              <label class="form-label">Icone</label>
          </div>
      </div>

      <select class="form-control show-tick" v-model="menu.link" data-live-search="true">
        <option>Veuillez choisir une route</option>
        <option v-for="route in routes" :value="route">{{route}}</option>
      </select>

      <button type="button" class="btn btn-primary m-t-15 waves-effect pull-right" @click="add"><i class="material-icons">add</i> <span>Ajouter au menu</span></button>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      routes: [],
      menu: {
        type: "route",
        name: null,
        group: "admin",
        link: null,
        icon: null,
      },
    }),
    mounted: function() {
      axios.get('/api/console/route')
        .then(response => {
          this.routes = response.data;
        });
    },
    methods: {
      add() {
        this.$bus.$emit('backend-menu.add', this.menu);
      }
    }
  }
</script>
